{
  "swagger": "2.0",
  "info": {
    "title": "RPA Connect",
    "description": "An advanced Form Automation Platform enhances RPA efficiency by seamlessly connecting robots and users for streamlined end-to-end business processes. It slashes processing time, ensures error-free data, boosts robot productivity, and prioritizes user experience with an intuitive interface. Data integrity is fortified through secure storage, augmenting overall process reliability.",
    "version": "1.0",
    "contact": {
      "name": "RPA Connect Support",
      "url": "https://www.rpaconnect.io/contacto",
      "email": "support@rpaconnect.io"
    }
  },
  "host": "app.rpaconnect.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/Attachments/GetAttachments/{formInstanceId}": {
      "get": {
        "summary": "List Attachments",
        "description": "Get the list of attachments from an Attachment-type field of an instance",
        "operationId": "ListAttachments",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances ID",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "stageIndex",
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Number of stage",
            "description": "Specify the stage index"
          },
          {
            "name": "api-version",
            "default": "2.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "fieldName": {
                    "type": "string",
                    "description": "fieldName"
                  },
                  "attachmentName": {
                    "type": "string",
                    "description": "attachmentName"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Attachments/Download": {
      "get": {
        "summary": "Download Attachment",
        "description": "Download the attachment from an Attachment-type field of an instance",
        "operationId": "DownloadAttachment",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances ID",
            "description": "Specify the form instance id"
          },
          {
            "name": "fieldName",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Attachment field name",
            "description": "Specify the attachment field name"
          },
          {
            "name": "attachmentName",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Attachment name",
            "description": "Specify the attachment name"
          },
          {
            "name": "stageIndex",
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Number of stage",
            "description": "Specify the stage index"
          },
          {
            "name": "api-version",
            "default": "2.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/FormInstance": {
      "get": {
        "summary": "Get Instances From Form Definition",
        "description": "Get a list of form instances based on the input query and formDefinition. Accept Odata",
        "operationId": "GetInstancesFromFormDefinition",
        "parameters": [
          {
            "name": "formDefinitionId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Form definition id",
            "description": "Specify the form definition id"
          },
          {
            "name": "Filter.state",
            "default": "Confirmed",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "State of form instance",
            "description": "Specify the form state"
          },
          {
            "name": "Filter.createdAtFrom",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-summary": "Date of created at from",
            "description": "Specify the date created at from"
          },
          {
            "name": "Filter.createdAtTo",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-summary": "Date of created at to",
            "description": "Specify the date created at to"
          },
          {
            "name": "Filter.lastSavedFrom",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-summary": "Date of last saved from",
            "description": "Specify the date last saved from"
          },
          {
            "name": "Filter.lastSavedTo",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-summary": "Date of last saved to",
            "description": "Specify the date last saved to"
          },
          {
            "name": "Filter.title",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Title of form instance",
            "description": "Specify the title"
          },
          {
            "name": "Filter.tags",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Tags of form instance",
            "description": "Specify the tags"
          },
          {
            "name": "OrderByField",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Order by field",
            "description": "Specify the order by field"
          },
          {
            "name": "OrderByDirection",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Order by direction",
            "description": "Specify the order by direction"
          },
          {
            "name": "MaxItemCount",
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Max items count",
            "description": "Specify the max items count"
          },
          {
            "name": "x-form-continuation",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Specify the continuation token",
            "x-ms-summary": "Continuation token"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;odata.metadata=minimal;odata.streaming=true",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "continuationToken": {
                  "type": "string",
                  "description": "continuationToken"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "state": {
                        "type": "string",
                        "description": "state"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "createdAt"
                      },
                      "lastSaved": {
                        "type": "string",
                        "description": "lastSaved"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "createdBy"
                      },
                      "updateLog": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "updateLog"
                      },
                      "processInfo": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        },
                        "description": "processInfo"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create form instance",
        "description": "Create an instance of a form based on the formDefinition to be used and the input parameters.",
        "operationId": "CreatesANewFormInstance",
        "parameters": [
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "formId": {
                  "type": "string",
                  "x-ms-summary": "Form definition id",
                  "description": "Specify the form definition id"
                },
                "useExistingDraft": {
                  "type": "boolean",
                  "description": "Define if reuse a existing instance saved as draft. Default false",
                  "x-ms-visibility": "advanced",
                  "title": "Use existing draft",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "initialValues": {
                  "type": "object",
                  "properties": {},
                  "description": "Json preload data",
                  "x-ms-summary": "Initial Values"
                },
                "customFormDefinition": {
                  "type": "object",
                  "properties": {},
                  "description": "Json of variation of form definition",
                  "x-ms-summary": "Custom Form Definition"
                },
                "expiresAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date expires at",
                  "x-ms-summary": "Expiring Date"
                },
                "userOrGroupAssigned": {
                  "type": "string",
                  "description": "Specify the user or group assigned to complete form",
                  "x-ms-summary": "User or Group Assigned"
                },
                "notificationMessage": {
                  "type": "string",
                  "description": "Specify the notification message",
                  "x-ms-summary": "Notification Message"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "sharedFormId": {
                  "type": "string",
                  "description": "Id of form instance",
                  "title": "Shared form id"
                },
                "sharedFormToken": {
                  "type": "string",
                  "description": "Token for shared a form",
                  "title": "Shared form token"
                }
              }
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}": {
      "get": {
        "summary": "Get Form Instance Response",
        "description": "Get the response of a form instance.",
        "operationId": "GetFormInstanceResponse",
        "parameters": [
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances ID",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;odata.metadata=minimal;odata.streaming=true",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "Form instance id"
                },
                "formDefinitionId": {
                  "type": "string",
                  "description": "formDefinitionId",
                  "title": "Form definition id"
                },
                "state": {
                  "type": "string",
                  "description": "state",
                  "title": "State"
                },
                "lastSaved": {
                  "type": "string",
                  "description": "lastSaved",
                  "title": "Last saved"
                },
                "values": {
                  "type": "object",
                  "properties": {},
                  "description": "values",
                  "title": "Values"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Form Instance",
        "description": "Delete an instance of a form.",
        "operationId": "DeleteDraftFormInstance",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances ID",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "force",
            "in": "query",
            "type": "boolean",
            "required": true,
            "x-ms-summary": "Force Delete Form Instance",
            "description": "Specify a force value"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/FormInstance/Status/{formInstanceId}": {
      "get": {
        "summary": "Get Form Instance State",
        "description": "Get the state of a form instance.",
        "operationId": "GetFormInstanceState",
        "parameters": [
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances ID",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;odata.metadata=minimal;odata.streaming=true",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "form instance state",
                  "title": "State"
                },
                "lastSaved": {
                  "type": "string",
                  "description": "Date of last saved",
                  "title": "Last Saved"
                }
              }
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/AccessToken": {
      "get": {
        "summary": "Get Form Instance Token",
        "description": "Get the public token of a form instance.",
        "operationId": "GetFormInstanceToken",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances ID",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "expiresAt",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-summary": "Expires At",
            "description": "Date of Expires At"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "validationEmail",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Validation email",
            "description": "Email for request OTP token"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;odata.metadata=minimal;odata.streaming=true",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "sharedFormId": {
                  "type": "string",
                  "description": "Shared form id",
                  "title": "Shared form id"
                },
                "sharedFormToken": {
                  "type": "string",
                  "description": "Shared form token",
                  "title": "Shared form token"
                }
              }
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/stage/{stageIndex}/AccessToken": {
      "get": {
        "summary": "Retrieves the access token for an existing form instance stage",
        "description": "Retrieves the access token for an existing form instance stage",
        "operationId": "GetAccessToken",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "stageIndex",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Number of stage",
            "description": "Specify the stage index",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "validationEmail",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Validation Email",
            "description": "Validation Email"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;odata.metadata=minimal;odata.streaming=true",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "stageInstanceId": {
                  "type": "string",
                  "description": "stageInstanceId"
                },
                "sharedFormToken": {
                  "type": "string",
                  "description": "sharedFormToken"
                }
              }
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/Resource": {
      "post": {
        "summary": "Upload FormInstance Resource",
        "description": "Attach a resource to a form instance.",
        "operationId": "UploadFormInstanceResource",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "formInstanceId",
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Resource",
            "x-ms-summary": "File",
            "description": "File",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "FieldName",
            "x-ms-summary": "Field Name",
            "description": "Field Name",
            "in": "formData",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/Resource/{resourceName}": {
      "delete": {
        "summary": "Delete FormInstance Resource",
        "description": "Remove the attached resource from a form instance.",
        "operationId": "DeleteFormInstanceResource",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "resourceName",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Resource Name",
            "description": "Resource Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/stage": {
      "post": {
        "summary": "Create Stage",
        "description": "Create a stage of a form instance",
        "operationId": "CreatesAStage",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "initialValues": {
                  "type": "string",
                  "description": "initialValues",
                  "x-ms-summary": "Initial Values"
                },
                "userOrGroupAssigned": {
                  "type": "string",
                  "description": "userOrGroupAssigned",
                  "x-ms-summary": "User or Group Assigned"
                },
                "notificationMessage": {
                  "type": "string",
                  "description": "notificationMessage",
                  "x-ms-summary": "Notification Message"
                },
                "state": {
                  "type": "string",
                  "description": "state",
                  "x-ms-summary": "State"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/stage/{index}": {
      "get": {
        "summary": "Get Stage Response",
        "description": "Get the response of a stage of a form instance",
        "operationId": "GetStageResponse",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "index",
            "in": "path",
            "type": "integer",
            "required": true,
            "x-ms-summary": "Number of stage",
            "description": "Specify the stage index",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;odata.metadata=minimal;odata.streaming=true",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "formDefinitionId": {
                  "type": "string",
                  "description": "formDefinitionId"
                },
                "formInstanceId": {
                  "type": "string",
                  "description": "formInstanceId"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "lastSaved": {
                  "type": "string",
                  "description": "lastSaved"
                },
                "values": {
                  "type": "object",
                  "properties": {},
                  "description": "values"
                },
                "stageName": {
                  "type": "string",
                  "description": "stageName"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Stage",
        "description": "Update a pre-existing stage of a form instance",
        "operationId": "UpdateStage",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "index",
            "in": "path",
            "type": "integer",
            "required": true,
            "x-ms-summary": "Number of stage",
            "description": "Specify the stage index",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "resetValues": {
                  "type": "boolean",
                  "description": "Reset values",
                  "x-ms-summary": "Reset values"
                },
                "userOrGroupAssigned": {
                  "type": "string",
                  "description": "User or group assigned to complete form",
                  "x-ms-summary": "User or group assigned"
                },
                "notificationMessage": {
                  "type": "string",
                  "description": "Notification message",
                  "x-ms-summary": "Notification message"
                },
                "state": {
                  "type": "string",
                  "description": "state",
                  "x-ms-summary": "State"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/FormInstance/{formInstanceId}/processInfo": {
      "post": {
        "summary": "Set Form Instance Process Info",
        "description": "Set the processInfo of a form instance.",
        "operationId": "SetFormInstanceProcessInfo",
        "parameters": [
          {
            "name": "formInstanceId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Forms instances id",
            "description": "Specify the form instance id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "API version",
            "description": "Specify the API version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "endState": {
                  "type": "string",
                  "description": "End State",
                  "x-ms-summary": "End State"
                },
                "completionMessage": {
                  "type": "string",
                  "description": "Completion message",
                  "x-ms-summary": "Completion Message"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.rpaconnect.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.rpaconnect.io/wp-content/uploads/Politica-de-privacidad_Enta-Technologies.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}